<div class="card">
  <div class="card-header">
    <h3>Nova Retirada</h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <form [formGroup]="transacoesForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label">Moeda</label>
          <div class="input-wrapper">
            <input
              type="text"
              [readOnly]="true"
              readonly
              formControlName="moeda"
              placeholder="Digite para pesquisar a moeda"
              class="form-control"
              
            />
          </div>
        </div>
        <br />
        <div class="form-group">
          <label class="control-label">Preço da Moeda</label>
          <input
            type="text"
            name="precoMoeda"
            placeholder="Preço da Moeda"
            formControlName="precoMoeda"
            class="form-control"
            appNumbersOnly
            [decimalPlaces]="10"
          />
        </div>
        <br />
        <div class="form-group">
          <label class="control-label">Data da Retirada</label>
          <input
              type="date"
              name="dataAporte"
              placeholder="Data do Aporte"
              formControlName="dataAporte"
              class="form-control"
          />
      </div>
      
        <br />
        <div class="form-group">
          <label class="control-label">Valor Retirado</label>
          <input
            type="text"
            name="valorAportado"
            placeholder="Valor Aportado"
            formControlName="valorAportado"
            class="form-control"
            (input)="calcularQuantidadeMoedas()"
            appNumbersOnly
            [decimalPlaces]="4"
          />
        </div>
        <br />
        <div class="form-group">
          <label class="control-label">Quantidade de Moedas</label>
          <input
            type="text"
            name="QtdMoedas"
            placeholder="Quantidade de Moedas"
            formControlName="QtdMoedas"
            class="form-control"
            (input)="calcularValorAportado()"
            appNumbersOnly
            [decimalPlaces]="10"
          />
        </div>
        <br />
        <input type="submit" class="btn btn-success fs-6 float-end" value="Salvar" />
      </form>
    </div>
  </div>
</div>
