<div class="card mt-4">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div class="table-responsive">

        <table *ngIf="transacoes" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        Nome
                    </th>
                    <th scope="col">
                        Quantidade Total
                    </th>
                    <th scope="col">
                        Preço por Unidade
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transacao of transacoes">
                    <td>{{transacao.ativos?.simbolo}} - {{transacao.ativos?.nomeAtivo}}</td>
                    <td>{{transacao.quantidade}}</td>
                    <td>{{transacao.precoPorUnidade}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>