
<div class="row">
<div class="col-lg-6 d-flex">
<div class="card">
    <p class="card-title">Aportes</p>
    <data class="card-price">{{vlrAporte | currency}}</data>
</div>
<div class="card">
    <p class="card-title">Saldo</p>
    <data class="card-price">{{vlrSaldo | currency}}</data>
</div>
<div class="card">
    <p class="card-title">Lucro</p>
    <data class="card-price" [ngClass]="{'verde': (vlrSaldo! - vlrAporte!) >= 0, 'vermelho' : (vlrSaldo! - vlrAporte!) < 0}">{{ (vlrSaldo! - vlrAporte!) | currency }}</data>
</div>
<div class="card">
    <p class="card-title">% Lucro</p>
    <data class="card-price" [ngClass]="{'verde': ((vlrSaldo! - vlrAporte!) / vlrAporte! * 100) >= 0, 'vermelho': ((vlrSaldo! - vlrAporte!) / vlrAporte! * 100) < 0}">{{ ((vlrSaldo! - vlrAporte!) / vlrAporte! * 100) | number:'1.2-2' }}%</data>
</div>
</div>
<div class="col-lg-6 divButtons d-flex justify-content-end">
    <button (click)="modalAddTransacao()" class="btn btn-success fs-6">
        <span class="material-symbols-rounded icon fs-4">add</span>
        Nova Compra
    </button>
</div>

</div>
<div class="mt-4">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div class="table-responsive tableStyle">
        <table *ngIf="portfolio" class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">
                        Nome
                    </th>
                    <th scope="col">
                        Quantidade Total
                    </th>
                    <th scope="col">
                        Saldo
                    </th>
                    <th scope="col">
                        Custo Total
                    </th>
                    <th scope="col">
                        Preço Médio
                    </th>
                    <th scope="col">
                        Preço Atual
                    </th>
                    <th scope="col">
                        Total
                    </th>
                    <th scope="col">
                        Total %
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ativo of portfolio" (click)="abrirTransacoes(ativo.ativoCripto?.assetID!)">
                    <td>{{ativo.ativoCripto?.simbolo}} - {{ativo.ativoCripto?.nomeAtivo}}</td>
                    <td>{{ativo.quantidadeTotal}}</td>
                    <td>{{(ativo.precoAtual! * ativo.quantidadeTotal!) | currency}}</td>
                    <td>{{ativo.custoTotal | currency }}</td>
                    <td>{{ativo.valorMedio | currency }}</td>
                    <td>{{ativo.precoAtual | currency}}</td>
                    <td [ngClass]="{'verde': (ativo.precoAtual! - ativo.valorMedio!) >= 0, 'vermelho' : (ativo.precoAtual! - ativo.valorMedio!) < 0}">
                        {{((ativo.precoAtual! - ativo.valorMedio!) * ativo.quantidadeTotal!) | currency}}
                    </td>
                    
                    <td [ngClass]="{'verde': ((ativo.precoAtual! - ativo.valorMedio!) / ativo.valorMedio! * 100) >= 0, 'vermelho': ((ativo.precoAtual! - ativo.valorMedio!) / ativo.valorMedio! * 100) < 0}">
                        {{((ativo.precoAtual! - ativo.valorMedio!) / ativo.valorMedio! * 100) | number:'1.2-2'}}%
                    </td>
                    
                </tr>
            </tbody>
        </table>
        </div>
</div>
<style>
    .verde {
        color: green;
    }

    .vermelho {
        color: red;
    }
</style>