<div class="card mt-4">
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div class="table-responsive">

        <table *ngIf="portfolio" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        Nome
                    </th>
                    <th scope="col">
                        Quantidade Total
                    </th>
                    <th scope="col">
                        Preço Médio
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ativo of portfolio" (click)="abrirTransacoes(ativo.ativoCripto?.assetID || 0)">
                    <td>{{ativo.ativoCripto?.simbolo}} - {{ativo.ativoCripto?.nomeAtivo}}</td>
                    <td>{{ativo.quantidadeTotal}}</td>
                    <td>{{ativo.valorMedio}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>